{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{{ dump(date) }}
<p>{{ date|date("d/m/y") }}</p>

{% for product in products %}
    <h2>{{ product.title }}</h2>
    <p>{{ product.price }}</p>
{% endfor %}
{% endblock %}
