{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{{ dump(date) }}
<p>{{ date|date("d/m/y") }}</p>

<div class="row">
{% for product in products %}
    {{ include('front/_product.html.twig') }}
{% endfor %}
</div>
{% endblock %}
