{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea quibusdam consequuntur praesentium, ab non rem incidunt nam deleniti laudantium maiores quos cumque, recusandae molestiae ut quo? Id, est nemo rerum quis labore voluptatibus consequatur veniam omnis illum tempore delectus, a quasi totam rem. At accusantium, sit ab harum in unde.</p>
<p>Illum officia saepe praesentium laborum possimus suscipit a corrupti quibusdam nemo ipsa unde temporibus, earum iste voluptate rem id impedit, quod sit perspiciatis necessitatibus quia. Ipsa, reiciendis porro nihil in deserunt nostrum officiis quis dicta quod recusandae magni. Rerum sit nulla dolorum eveniet labore error accusamus officiis repellendus iste quos.</p>
{% endblock %}
